h2 {
    margin-top: 50px;
}

#nav ul, nav {
    height: 64px;
}

#nav li, nav li {
    margin-right: 16px;
    float: left;
}

.list div {
    margin-left: 18px;
    margin-bottom: 12px;
}

.list div::before {
    content: "•";
    color: #1781e3;
    float: left;
    margin-left: -18px;
    font-size: 33px;
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button, .button {
    text-align: center;
    background-color: rgb(23, 129, 227);
    color: white;
    min-width: 160px;
    height: 48px;
    cursor: pointer;
    padding: 11px 23px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(23, 129, 227);
    border-radius: 5px;
    outline: none;
}

button:hover, .button:hover {
    background-color: rgb(8, 81, 218);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(23, 129, 227);
}

button:focus {
    background-color: rgb(8, 81, 218);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(23, 129, 227);
}

.no-focus:focus {
    background-color: rgb(23, 129, 227);
    border-color: rgb(23, 129, 227);
}

.button-small {
    min-width: 80px;
    height: 36px;
    padding: 5px 11px;
    font-size: 1rem;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.font-size-good {
    font-size: 1.2rem;
}

.font-size-bad {
    font-size: 10px;
}

.contrast-box-good {
    background-color: #001155;
    color: white;
    padding: 15px;
}

.contrast-box-bad {
    background-color: #0EABA9;
    color: white;
    padding: 15px;
}

.colorblind-box-good {
    background-color: rgb(71, 71, 71);
    color: #EEF3F6;
    padding: 15px;
}

.colorblind-box-bad {
    background-color: #040070;
    color: #009E00;
    padding: 15px;
}

.container-fluid {
    margin: 0 8px;
}

.form-container {
    width: 700px;
}

.error-message {
	visibility: hidden;
	color: red;
	font-size: 12px;
}

.error-input .error-message {
	visibility: visible;
}

.plain-form input {
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}

.plain-form input:focus {
    outline: 1px solid blue;
}
.plain-form select:focus {
    outline: 1px solid blue;
}

.plain-form select {
    background-color: white;
    border-radius: 5px;
    -webkit-appearance: menulist;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
    padding: 0;
    height: auto;
}

.plain-form .error-input input {
	border-color: red;
}

.single-row {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1023px) {
    .container-fluid {
        margin: 0 4px;
    }
}

@media (max-width: 767px) {
    .container-fluid {
        margin: 0;
    }
}